<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align: center">List of Books</h1><br>
        <div class="row" [hidden]="!deleteMessage">

            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align: center">
                <div class="alert alert-blue alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class = "fs-3" style="text-align: center">Book Deleted</strong>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>


    <div class="panel-body">
        <table class="table table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="thead-light">
                <tr>
                    <th>Book Name</th>
                    <th>Author Name</th>
                    <th>Publisher Name</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books ">
                    <td>{{book.bookName}}</td>
                    <td>{{book.authorName}}</td>
                    <td>{{book.publisherName}}</td>
                    <td><button (click)="deleteBook(book.bid)" class='btn btn-primary'><i
                                class="fa fa-futboll-0">Delete</i></button>&nbsp;
                        <button (click)="updateBook(book.bid)" class='btn btn-info' data-toggle="modal"
                            data-target="#myModal">Update</button>
                    </td>
                </tr>
            </tbody><br>
        </table>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="bookupdateform" #updbk (ngSubmit)="updateBk(updbk)">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="modal-title" style="text-align: center">Update Book</h3>

                </div>

                <!-- Modal body -->
                <div class="modal-body" *ngFor="let book of booklist ">
                    <div [hidden]="isupdated">

                        <input type="hidden" class="form-control" formControlName="bid" [(ngModel)]="book.bid">
                        <div class="form-group">
                            <label for="name">Book Name</label>
                            <input type="text" class="form-control" formControlName="bookName"
                                [(ngModel)]="book.bookName">
                        </div>
                        <div class="form-group">
                            <label for="name">Author Name</label>
                            <input type="text" class="form-control" formControlName="authorName"
                                [(ngModel)]="book.authorName">
                        </div>
                        <div class="form-group">
                            <label for="name">Publisher Name</label>
                            <input type="text" class="form-control" formControlName="publisherName"
                                [(ngModel)]="book.publisherName">
                        </div>


                    </div>
                    <div [hidden]="!isupdated">
                        <h5>Book Updated!</h5>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [hidden]="isupdated">Update</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal"
                        (click)="changeisUpdate()">Close</button>
                </div>

            </form>
        </div>
    </div>
</div>