    <div  class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-green navbar-green">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a routerLink="view-book" class="nav-link" class="btn btn-red-500 active font-italic" role="button" >View Book</a>
          </li>&nbsp;
          <li class="nav-item">
            <a  routerLink="add-book" class="nav-link" class="btn btn-red-500 active font-italic" role="button" >Add Book</a>
          </li>    
                    <li class="nav-item">
            <a  routerLink="view-bookcategory" class="nav-link" class="btn btn-red-500 active font-italic" role="button" >View Book Category</a>
          </li>      
        </ul>
      </nav>   
        <router-outlet></router-outlet>
    </div>